/* @import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css'); */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700');

:root{
  font-size: 10px;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f9f9f9;
  font-size: 1.6rem;
}

#wpadminbar {
  display: none !important;
}

:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

a {
  transition: all 0.3s ease;
  color: #016600;
}
a:hover {
  text-decoration: none;
  color: #bf9002;
}



.btn-primary {
  height: 39px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #bf9002;
  border-color: #bf9002;
}

.btn-primary:hover {
  background-color: #016600 !important;
  border-color: #016600 !important;
}

.section-title {
  text-align: center;
  max-width: 57rem;
  margin: 8rem auto 5rem auto;
}
.section-title h4 {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: rgba(0,0,0,.5)
}
.section-title h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
  color: #3a4659;
  text-transform: uppercase;
}
.section-title p {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 1.4rem;
  color: #8593a9;
  margin: 10px 0 55px;
  line-height: 20px;
}

.topbar {
  background-color: #bf9002;
  color: #fff;
  height: 4rem;
  line-height: 4rem;
  font-size: 1.4rem;
}

.topbar a {
  color: #fff;

}
.topbar i {
  font-size: 1.2rem;
}
.topbar .social-icons {
  margin-right: 1rem;
}
.topbar .social-icons a {
  margin-left: .5rem;
}
.topbar .social-icons i {
  font-size: 1.4rem;
}

.skiptranslate iframe {
  display: none !important;
}

.topbar .goog-te-gadget-simple {
  border: 0 !important;
  background-color: transparent !important;
  padding: 0;
  margin-right: -22px;
}
.topbar .goog-te-gadget-simple img {
  display: none !important;
}

.topbar .goog-te-gadget-simple .goog-te-menu-value {
  color: #fff;
  background-color: transparent;
  text-transform: uppercase;
  padding: 0;
  border-radius: 0;
  font-weight: 600;
  margin: 0;
}

.topbar .goog-te-gadget-simple .goog-te-menu-value::before {
  content: "\f57d";
  font-family: "Font Awesome 5 Free";
  font-size: 16px;
  margin-right: 6px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
}

.goog-te-gadget-simple .goog-te-menu-value>span:nth-of-type(2),
.goog-te-gadget-simple .goog-te-menu-value>span:nth-of-type(3) {
  display: none;
}

.bg-light {
  overflow: hidden;
  background-color: #f6f6f6;
}
.bg-white {
  overflow: hidden;
  background-color: #fff;
}
.headerNav {
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
  top: 40px;
}
.headerNav .navbar-toggler {
  font-size: 2.2rem;
  outline: none;
}
.headerNav .navbar-nav .nav-link {
  font-size: 1.4rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  color: #3a4659;
  cursor: pointer;
  font-weight: 600;
}

@media screen and (min-width: 992px) {
  .headerNav .navbar-nav .nav-item:last-child .nav-link {
    background-color: #c78f00;
    color: #fff;
    border-radius: 0.3rem;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: 3rem;
  }

  .headerNav .navbar-nav .nav-item:last-child .nav-link:hover {
    background-color: #006900;
  }
}

.headerNav .dropdown ul {
  display: block;
  background: #ffffff none repeat scroll 0 0;
  left: 0;
  list-style: outside none none;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  visibility: hidden;
  -webkit-transform-origin: left top 0;
  transform-origin: left top 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 240px;
  padding: 16px 11px;
  box-shadow: 0 16px 40px rgba(0,0,0,0.1);
  transform: translatey(25px);
  -webkit-transform: translatey(25px);
  text-align: left;
  border: 0;
  border-radius: 0;

}

.headerNav .nav-item:hover ul {
  opacity: 1;
  visibility: visible;
  transform: translatey(0px);
  -webkit-transform: translatey(0px);
}

.headerNav .dropdown-item {
  font-size: 1.6rem;
}

.home .featured {
  margin-bottom: 4rem;
}
.featured .owl-theme .owl-nav {
  margin-top: -40px !important;
}
.featured .owl-theme .owl-nav button {
  top: 0 !important;
  padding: 0 !important;
  margin: 0;
  z-index: 999;
  left: -30px;
  background-color: #006900 !important;
  display: block;
  font-size: 30px !important;
}

.featured .owl-theme .owl-nav button.owl-next {
  left: unset;
  right: -30px;
}


.discover  {
  position: relative;
}
.discover .boxes-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.discover .box {
  width: 32.33%;
  height: 300px;
  text-align: center;
  background-position: center;
  background-size: cover;
  transition: all .4s ease;
  border-radius: 3px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.discover .box.big-box {
  width: 66.1%;
}

@media screen and (max-width: 768px) {
  .discover .boxes-row {
    padding: 0;
    margin-bottom: 0;
  }
  .discover .box,
  .discover .box.big-box {
    width: 100%;
    height: 150px;
    margin-bottom: 1.5rem;
  }
  /* .recent-properties {
    padding: 0 15px;
  } */
}

.discover .box a {
  text-align: center;
}

.discover .box a::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .3;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .4s ease;
  cursor: pointer;
  border-radius: 3px;
}
.discover .box a:hover::before {
  opacity: 0.15;
}

.discover .box h4 {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
  position: relative;
  margin-bottom: 0.2rem;
}
.discover .box p {
  color: rgba(255,255,255,.8);
  font-size: 1.6rem;
  position: relative;
  margin-bottom: 3rem;
}

.footer {
  border-top: 1px solid #ddd;
  background-color: #f2f2f2;
  padding: 5rem 0;
  margin-top: 6rem;
  color: #888;
}
body.home .footer {
  margin-top: 0;
  border-top: 0;
}

.footer a {
  color: #888;
}
.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer .textwidget {
  font-size: 1.3rem;
  line-height: 2.2rem;
  color: #888;
}
.footer .widgettitle {
  font-size: 1.8rem;
  color: #006900;
  font-weight: 600;
  margin-bottom: 2rem;
}

.footer .menu {

}
.footer .menu-item {
  padding-left: 12px;
  position: relative;
}
.footer .menu-item::before {
  content: "\f054";
  font-family: Font Awesome\ 5 Free;
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  position: absolute;
  left: 0;
  top: 30%;
  font-size: 1rem;
  color: #888;
}
.footer .menu-item a {
  color: #888;
}
.footer .menu-item a:hover {
  color: #006900;
}

.widget-title-footer {
  font-size: 1.6rem;
  color: #297524;
}

.jetpack_widget_social_icons a {
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #c59b2f !important;
  width: 4rem !important;
  height: 4rem !important;
  padding: 11px 0px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.jetpack_widget_social_icons a svg {
  color: #c69d32;
  width: 20px;
}

.jetpack_widget_social_icons a:hover {
  background-color: #c59b2f !important;
}
.jetpack_widget_social_icons a:hover svg {
  color: #fff;
}

.footer .copyright {
  background-color: #e7e7e7;
  font-size: 1.3rem;
}

.adv_extended_options_text {
  background-color: #323840;
  color: #ddd;
  display: inline-block;
  padding: 5px 8px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 12px;
  width: auto;
}
.adv_extended_options_text:hover {
  color: #c59b2f;
}

.adv_extended_options_text {
    background-color: #c99b02;
    color: #fff !important;
}

 .wpresidence_button:hover {
   background-color: #c59b2f !important;
 }

 .property-meta a {
   color: #666;
 }

 .price_area {
   color: #007800;
   font-size: 30px;
   padding: 0px;
   float: right;
   font-weight: 600;
   letter-spacing: -1px;
 }

.page-header {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #495057;
  font-size: 3rem;
  margin: 3rem 0;
  text-align: left;
}

.page-header::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 8rem;
  height: 0.3rem;
  background-color: #cc9a00;
}

.header_image {
  position: relative;
  width: 100%;
  height: 58rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #444;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}
.header_image::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000;
  z-index: 0;
  opacity: 0.8;
}
.single-post .header_image::before {
  display: none;
}
.header_image h1 {
  font-size: 3.6rem;
  position: relative;
}
.header_image h1::after {
  width: 6rem;
  height: 0.3rem;
  background-color: #cc9a00;
  content: "";
  display: block;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  margin-left: -3rem;
}
.header_image h2 {
  font-size: 3.6rem;
}

.header_image .contact-icon {
  width: 3.2rem;
  height: 3.2rem;
  font-size: 1.6rem;
}

.parallax_effect {
  background-attachment: fixed;
}

.post-title {
  font-size: 3.6rem;
}

.sidebar ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar ul ul{
  padding: 1.5rem;
}

.sidebar ul li.widget {
  border: 1px solid #eee;
  border-radius: 4px;
  margin-top: 3rem;
  overflow: hidden;
}

.sidebar ul li.widget .widgettitle {
  background-color: #bf9002;
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
  color: #fff;
  font-weight: 700;
}

.testimonials {
  position: relative;
  overflow: hidden;
}
.testimonials::before,
.testimonials::after {
  left: 0;
  z-index: 10;
  width: 50%;
  height: 70px;
  content: '';
  position: absolute;
}
.testimonials::before {
  background-color: #ffffff;
  height: 40px !important;
  top: 0px;
  bottom: auto;
  border-top: undefinedpx undefined undefined;
  border-right: undefinedpx undefined undefined;
  border-radius: 0 0 40px 0 !important;
}

.testimonials::after {
  background-color: #ffffff;
  left: 50%;
  height: 40px !important;
  top: 0px;
  bottom: auto;
  border-top: undefinedpx undefined undefined;
  border-left: undefinedpx undefined undefined;
  border-radius: 0 0 0 40px !important;
}
.testimonials .section-title h2 {
  /* font-size: 42px; */
}
.testimonials .testimonial-text {
  line-height: 20px;
  font-size: 15px !important;
}

.newsletter {
  position: relative;
  margin: 5rem 0 4rem;
  padding: 0 15px;
}

.newsletter::before {
  content: "";
  position: absolute;
  bottom: -5rem;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: #f2f2f2;
}
.newsletter .section-title h2{
  font-size: 36px;
}


.newsletter-form{
  max-width: 1110px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 5rem 2rem 10rem;
  position: relative;
  box-shadow: 0 1rem 5rem rgba(0,0,0,.12);
}
.newsletter-form form {
  max-width: 55rem;
  margin: auto;
  background-color: #fff;
  border-radius: 60px;
  overflow: hidden;
  border: 0;
  box-shadow: 0 0 6px rgba(0,0,0,.1);
}
.newsletter-form form input {
  border: unset;
  box-shadow: unset;
  box-shadow: unset;
  height: 4.6rem !important;
  padding: 1rem 1.6rem !important;
  font-size: 1.6rem !important;
}
.newsletter-form form button.btn-primary {
  margin-right: -2px;
  border: 0;
  background-image: linear-gradient(to bottom, #c59b2f 0%, #ad8727 100%);
  background-position: 0 !important;
  height: 4.6rem;
  text-transform: uppercase;
  padding: 0 2rem;
  font-size: 1.6rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-weight: 600;
}


.owl-theme .owl-nav {
  position: absolute;
  left: 0;
  top: 45%;
  font-size: 100px;
  color: #fff;
  margin-top: 0;
  width: 100%;
}
.owl-theme .owl-nav button{
  position: absolute;
  left: 30px;
  top: 45%;
  background-color: transparent !important;
}

.owl-theme .owl-nav .owl-next {
  right: 30px;
  left: unset;
}



.agent-card {
  border: 1px solid #ddd;
  border-radius: 6px;
  display: block;
  margin-top: 20px;
  padding: 15px 0;
  overflow: hidden;
  transition: all .3s ease;
  color: #444;
}

.agent-card:hover {
  box-shadow: 0 0 25px 1px rgba(0,0,0,.08);
  border-color: transparent;
  color: #777;
}
.agent-card:hover h3 {
  color: #006900;
}
.agent-card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 50%;

}
.agent-card-contacts {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
.agent-contact {
  border: 1px solid #ddd;
  border-radius: 30px;
  display: inline-block;
  padding: 0px 15px;
  line-height: 30px;
}
.agent-contacts p {
  margin-bottom: 10px;
}
.agent-contacts a {
  display: flex;
  align-items: center;
}
.contact-icon {
  margin-right: 10px;
  background-color: #cc9a00;
  color: #fff;
  border-radius: 50px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.agent-profile .listing_details {
  display: none;
}

.blog-post h2 {
  font-size: 2.7rem;
}

.property_listing {
    position: relative;
    margin-bottom: 10px;
    border: 1px solid #dde4e9;
    border-radius: 3px;
    /* overflow: hidden; */
    font-size: 13px;
    background-color: #ffffff;
    max-width: 525px;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
    cursor: pointer;
    float: left;
}

.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}

.property_listing picture{
  overflow: hidden;
  position: relative;
  display: block;
}
.property_listing picture img {
  transition: all .5s ease;
}
.property_listing a:hover picture img {
  transform: scale(1.2);
}

.property_listing h4 {
    padding: 0px 20px;
    margin: 20px 0 0 -3px;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3em;
    color: #016600;
    font-family: 'Open Sans', sans-serif;
}

.listing_unit_price {
    position: relative;
    margin-top: 5px;
    color: rgba(0,0,0,.75);
    padding: 0 20px;
    font-size: 18px;
    float: none;
    display: block;
    line-height: 30px;
}

.listing_unit_price del {
  font-size: 14px;
}

.property_listing_details{
  position: relative;
  color: #3a4659;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;

  line-height: 22px;
  width: 100%;
  margin-bottom: 7px;
  font-weight: 300;
}

.property_listing_details .inforoom,
.property_location .inforoom {
    background-image: url('../images/unit.png');
    font-size: 14px;
    line-height: 30px;
    background-repeat: no-repeat;
    background-position: 0px -1px;
    margin-right: 15px;
    padding-left: 23px;
    color: #3a4659;
    color:#8593a9;
    font-size:13px;
}

.property_listing_details .infobath,
.property_location .infobath {
    background-image: url('../images/unit.png');
    font-size: 14px;
    line-height: 30px;
    background-repeat: no-repeat;
    background-position: -63px -1px;
    margin-right: 12px;
    padding-left: 20px;
    color: #3a4659;
    color:#8593a9;
    font-size:13px;

}

.property_listing_details .infosize,
.property_location .infosize {
    background-image: url('../images/unit.png');
    font-size: 14px;
    line-height: 30px;
    background-repeat: no-repeat;
    background-position: -127px 0px;
    margin-right: 5px;
    padding-left: 20px;
    color: #3a4659;
    color:#8593a9;
    font-size:13px;
}

.property_listing_details .infodate{
    font-size: 14px;
    line-height: 30px;
    margin-right: 10px;
    padding-left: 12px;
    color: #3a4659;
    color:#8593a9;
    font-size:13px;
}

.property_listing_details .infodate .fa{
    margin-right:5px;
    color:#C2CBD9;
}

.card-header .btn-link {
  color: #333;
  font-weight: 700;
}
.card-body a {
  color: #444;
}

/* CONTACT INFO */
.contact-info{
    background-color: #bf9002;
    color: #fff;
    padding: 30px 20px;
    margin-bottom: 30px;
    text-align: center;
}

.contact-info a {
  color: #000;
}

.contact-info h1 {
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  color: #000;
}

.contact-info ul {
  background-color: rgba(0,0,0,.1);
  border: 0px solid #ddd;
  padding: 20px;
  margin: 15px 0 0 0;
  list-style: none;
  text-align: left;
}

.contact-info ul li{
    border-bottom: 1px solid #515151;
}
.contact-info ul li:last-child{
    border-bottom: 0px solid #ededed;
}
.contact-info ul li h4{
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    font-style: italic;
}
.contact-info ul li strong {
  color: #000;
  display: block;
  font-size: 12px;
  text-transform: uppercase;
}
.contact-info .social-icons{
  text-align: center;
  display: flex;
  justify-content: center;
}
.contact-info .social-icons a {
  font-size: 14px;
  margin: 0 6px;
  color: rgba(255,255,255,.5);
  border: 1px solid rgba(255,255,255,.5);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease;
}
.contact-info .social-icons a:hover{
  color: #fff;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
}



.gform_wrapper,
.gform_wrapper .hidden_label input.large,
.gform_wrapper .hidden_label select.large,
.gform_wrapper .top_label input.large,
.gform_wrapper .top_label select.large,
.gform_wrapper textarea,
.gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=email],
.gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=number],
.gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=password],
.gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=tel],
.gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=text],
.gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=url],
.gform_wrapper .ginput_complex input[type=email],
.gform_wrapper .ginput_complex input[type=number],
.gform_wrapper .ginput_complex input[type=password],
.gform_wrapper .ginput_complex input[type=tel],
.gform_wrapper .ginput_complex input[type=text],
.gform_wrapper .ginput_complex input[type=url]{
    max-width: 100% !important;
    width: 100% !important;
}
.gform_wrapper .ginput_complex.ginput_container.has_first_name.has_last_name span.name_last {
    float: right;
}
.gform_wrapper .top_label .gfield_label,
.gform_wrapper .ginput_complex label {
    display: none !important;
}

.gform_wrapper input[type=text],
.gform_wrapper textarea,
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea{
    line-height: 20px !important;
    height: 40px !important;
    border: 1px solid #ccc !important;
    background-color: #fff !important;
    border-radius: 0 !important;
    color: #000 !important;
    -webkit-appearance: none;
    margin-bottom: 12px;
    padding: 0 10px !important;
    max-height: 180px;
}
.gform_wrapper textarea,
.woocommerce form .form-row textarea{
    height: auto !important;
}

.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=image],
.gform_wrapper .gform_footer input[type=submit] {
    background-color: #bf9002;
    color: #fff;
    border: 0px solid transparent;
    padding: 0;
    margin-bottom: 0;
    line-height: 40px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    min-width: 200px;
}

.gform_wrapper .gform_footer input.button:hover,
.gform_wrapper .gform_footer input[type=image]:hover,
.gform_wrapper .gform_footer input[type=submit]:hover {
    background-color: rgba(0,0,0,.85);
    border-color: rgba(0,0,0,.85);
    color: #fff;
}


.advanced-search {
  position: absolute;
  left: 50%;
  top: 30%;
  z-index: 88;
  max-width: 96rem;
  width: 100%;
  margin-left: -48rem;
}
.advanced-search .nav-tabs {
  border-bottom: 2px solid #bf9002;
}
.advanced-search .nav-tabs .nav-item{
  margin-bottom: -2px;
}

.advanced-search .nav-tabs .nav-link {
  background-color: #bf9002;
  color: #fff;
  font-weight: 700;
  margin-right: 10px;
}
.advanced-search .nav-tabs .nav-link:hover {
  border-color: #bf9002;
}
.advanced-search .nav-tabs .nav-link.active {
  border-color: #fff;
  background-color: #fff;
  color: #444;
}


.advanced-search .tab-content {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px rgba(0,0,0,.15);
}

.advanced-search .ui-slider {
  margin-left: 10px;
  margin-top: 0px;
  height: 5px;
}

.advanced-search .ui-slider-handle {
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  margin-top: -2px;
  width: 17px;
  height: 17px;
  background-image: none;
  background-color: #fff;
}

.advanced-search .ui-slider-range {
  background-color: #016600;
  border-style: solid;
  border-color: #f7f8f9;
}

.advanced-search .ui-widget-content {
  color: #768082;
  border: 1px solid #f0f0f0;
  background: #fff;
  background-image: none;
}
.advanced-search .select2-container .select2-selection--single,
.advanced-search .select2-container--default .select2-selection--multiple {
  min-height: 39px;
  border-color: #ddd;
  outline: none !important;
}
.advanced-search .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 39px;
}
.advanced-search .select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #c78f00;
}

.advanced-search .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-width: 5px 4px 0 4px;
  margin-left: -10px;
  margin-top: 0;
  top: 60%;
}

.advanced-search .select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #bf9002;
  border: 1px solid #bf9002;
  margin-top: 4px;
  color: #fff;
  font-size: 14px;
  line-height: 27px;
}

.advanced-search .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #fff;
  margin-right: 0;
  margin-left: 4px;
  float: right;
  font-size: 22px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #f6f6f6 !important;
  color: #bf9002 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li,
.select2-container--default .select2-search--inline .select2-search__field {
  /* width: 100% !important; */
  padding-left: 5px;
  /* line-height: 39px; */
  /* margin-top: 0 !important; */
}


.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active, .ui-button:active,
.ui-button.ui-state-active:hover {
  border-color: #016600 !important;
  background: #cfa016 !important;
}

.search-results .advanced-search,
.tax-prop_category .advanced-search {
  position: relative;
  left: 0;
  top: 0;
  max-width: 100%;
  width: 100%;
  margin-left: 0;
}
.search-results .advanced-search .nav-tabs .nav-item,
.tax-prop_category .advanced-search .nav-tabs .nav-item {
  width: 50%;
  text-align: center;
}
.search-results .advanced-search .nav-tabs .nav-link.active,
.tax-prop_category .advanced-search .nav-tabs .nav-link.active {
  border-color: #f9f9f9;
  background-color: #f9f9f9;
}

.search-results .footer,
.tax-prop_category .footer{
  margin-top: 0;
}

.pagination .page,
.pagination .page-numbers,
.pagination .current {
  background-color: #bf9002;
  padding: 5px 12px;
  margin: 0 3px;
  color: #fff;
  border: 0;
}

.pagination .current,
.pagination .page:hover {
  background-color: #016600;
  color: #fff;
}

.owl-properties.owl-theme .owl-dots .owl-dot.active span,
.owl-properties.owl-theme .owl-dots .owl-dot:hover span {
  background: #bf9002;
}

.advanced-search.offcanvas-search {
  display: block;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: unset;
  bottom: 0;
  width: 100%;
  max-width: 400px;
  padding: 115px 0 30px;
  margin-left: 0;
  visibility: hidden;
  overflow-y: auto;
  background-color: #fff;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-box-shadow: -12px 1px 25px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -12px 1px 25px 0px rgba(0, 0, 0, 0.1);
  box-shadow: -12px 1px 25px 0px rgba(0, 0, 0, 0.1);
}
.advanced-search.offcanvas-search.open {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);

  padding-bottom: 0 !important;
  height: 100%;
  overflow: scroll;
  width: 100%;
}
.offcanvas-search .page-header::after {
  left: 50%;
  margin-left: -4rem;
}

.offcanvas-search.advanced-search .nav-tabs {
  border-bottom: 0;
  padding-top: 2rem;
}

.offcanvas-search.advanced-search .nav-tabs .nav-item {
  width: 50%;
  text-align: center;
}
.offcanvas-search.advanced-search .nav-tabs .nav-link {
  margin: 0 10px;
}

.offcanvas-search.advanced-search .nav-tabs .nav-link.active {
  border-color: #f8f9fa;
  background-color: #f8f9fa;
}

.widget_lidd_mc_widget form {
  padding: 1.8rem;
}

.widget_lidd_mc_widget label {
  font-size: 1.4rem;
}

.single-property .owl-theme .owl-nav {
  display: none;
}

.whatsapp-bubble {
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 12px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  position: relative;
  background-color: rgb(255, 255, 255);
  margin-bottom: 16px;
  margin-right: 16px;
  margin-left: 16px;
  width: 60px;
  border-radius: 50%;
  outline: transparent;
}

.whatsapp-bubble::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(255, 0, 0);
  display: block;
  position: absolute;
  z-index: 1;
  right: 4px;
  top: 4px;
  border-radius: 50%;
}

.whatsapp-bubble a {
  font-size: 32px;
  color: #4fce5d;
}

@media screen and (max-width: 992px) {
  body.logged-in.admin-bar {
    padding-top: 30px !important;
  }
  .mobile_header {
    display: block;
  }
  .mobilemenu-close-user,
  .mobilemenu-close,
  .mobile_header i {
    color: #000000 !important;
  }
  .agent-profile {
    padding-top: 40px !important;
  }
  .profile-info {
    text-align: center;
  }
  .profile-info img {
    display: inline-block;
  }
  .agent-contacts {
    text-align: center;
    margin-top: 20px;
  }
  .agent-contacts span:not(.contact-icon),
  .agent-contacts h3 {
    display: none;
  }
  .agent-contacts p {
    display: inline-block;
  }
  .wide .top_bar, .top_bar {
    padding: 8px 15px 5px 15px;
  }
  .right-top-widet, .left-top-widet {
    width: auto;
  }
  .right-top-widet {
    margin-top: 0;
  }
  .post-type-archive-estate_agent .content_wrapper {
    padding-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .offcanvas-search {
    overflow: hidden;
    right: 0;
    padding-top: 70px;
    width: 100%;
    max-width: 100%;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  .section-title {
    margin: 5rem auto 3rem auto;
  }
  .section-title h2 {
    font-size: 2.2rem;
  }
  .section-title p {
    margin-bottom: 0;
  }

  .page-header {
    font-size: 2.4rem;
  }

  .post-title {
    font-size: 2.2rem;
  }

  .footer .widgettitle {
    display: none;
  }

  .price_area {
    font-size: 20px;
  }

  .jetpack_widget_social_icons li,
  .jetpack_widget_social_icons ul {
    text-align: center;
    margin-bottom: 0 !important;
  }

  .jetpack_widget_social_icons a {
    margin-right: 0.5rem;
  }

  .agent-card {
    text-align: center;
  }
  .agent-card img {
    margin: 0 auto 15px auto;
  }
  .agent-card-contacts {
    flex-direction: column;
  }
  .agent-contact {
    margin-bottom: 10px;
  }
  .property-carousel .owl-item>div {
    height: 250px !important;
  }

  .property-carousel .owl-theme .owl-nav {
    top: 15%;
    font-size: 50px;
  }

  .property-carousel .owl-theme .owl-nav button {
    left: 10px;
  }
  .property-carousel .owl-theme .owl-nav .owl-next {
    right: 10px;
  }

  .property-carousel .property_listing picture {
    height: 137px;
  }

  .header_image {
    height: 40rem;
  }
  .header_image h2 {
    font-size: 3rem;
  }
  .header_image img {
    max-width: 12rem;
  }

  .contact-map {
    height: 150px;
  }

  .newsletter-form {
    padding: 1rem 2rem 5rem;
  }

  .section-title h4 {
    font-size: 1.4rem;
  }

  .newsletter .section-title h2 {
    font-size: 2rem;
  }
  .property-carousel.owl-theme .owl-nav {
    font-size: 79px;
    margin-top: 0;
    top: 0;
  }
  .property-carousel.owl-theme .owl-nav button {
    position: absolute;
    top: 0;
    left: 0px;
    margin: 0;
    background-color: transparent !important;
  }

  .property-carousel.owl-theme .owl-nav button svg {
    height: 32px;
    width: auto;
  }

  .owl-carousel .owl-nav button.owl-next {
    left: unset;
    right: 0;
  }

  .gform_wrapper .ginput_complex.ginput_container.has_first_name.has_last_name span.name_last {
    float: none;
  }

}
